.button{
    background: #DAA520;
    text-decoration: none;
    color: #ffff;
    padding: 10px;
    border-radius: 4px;
    transition: 0.5s all ease;
.btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;